.grid-container {
  display: grid;
  grid-template-columns: 10% auto auto auto auto auto auto 10%;
  grid-row-gap: 80px;

}

.grid-item {
  grid-column-start: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}

.grid-sidebar {
  grid-column: 2 / 8;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
}

#main {
  height: 2000px;
} 