.grid-container {
  display: grid;
  grid-template-columns: 19% auto auto auto auto auto auto 19%;
  grid-row-gap: 60px;
  grid-column-gap: 65px;
  grid-template-rows: 130px; /* top row is 100px in height */
  grid-auto-rows: 100px;

}

.grid-item {
  grid-column-start: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}

.grid-sidebar {
  grid-row-start: span 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
}

.navBar {
  grid-column-start: span 8;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}

.showPage{
  text-align: center;
}

.showPageChild{
  display: inline-block;
}

#main {
  height: 2000px;
} 
